.salam{
    background-color: #8a2be2;
}

input[type="radio"]{
width: 20px;
height: 20px;
}

.th{
    text-align: center;
    background-color: #8a2be2;
}

.salam1{
    background-color: #8a2be2;
    color: #8a2be2;
}